<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="text-align: center;">
<br>
    <img src="https://static1.squarespace.com/static/529640d3e4b03b0c04b2277b/t/52993be0e4b0316936df8170/1434721861349/a+tavola+logo+welcome.png"><br>
   <br><br>
    <div class="card-group">
        <div class="card">
          <img src="https://uploads-ssl.webflow.com/5b69a01ba2e409e5d5e055c6/60df20b049a5b66d5f86e93c_Teacher%20CPD.svg" width="50px" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <button type="button" (click)= "userlogin()" class="btn btn-primary"><a href="#"></a> User Login</button>
        </div>
      </div>
      <div class="card">
        <img src="https://uploads-ssl.webflow.com/5b69a01ba2e409e5d5e055c6/60df20b049a5b66d5f86e93c_Teacher%20CPD.svg" width="50px" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <button type="button" (click)= "managerlogin()" class="btn btn-primary">Manager Login</button>
        </div>
      </div>
</div>
    
 
</body>
</html>
