<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="manager.component.css">
  <title>Manager</title>
</head>
<body>
  <div class="container-fluid dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 left-side-bar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link link-color" href="#" [routerLink]="['/taskdetail']">Task Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-color" href="#" [routerLink]="['/analytics']">Graph</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-color" href="#" [routerLink]="['/manager-flow']">Manager Dashboard</a>
                    </li>
                  </ul>
                  
            </div>
  <div class="col-10 right-side">
    <h3 class="dashboard-head">Manager Data</h3>
      <div class="container-flud">
        <div class="fw-bold text-center container-fluid form-group pb-3">
          <input type="text" class="form-control p-2" 
      [(ngModel)]="searchTerm" placeholder="Search here" >
      </div>
    </div>
    <div *ngIf="taskById">
      <form #approveTask="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
              <label>Approval Status</label>
          </div>
          <div class="col-12">
              <select name="approval_status" class="form-control input-size" #approval_status ="ngModel"  [(ngModel)]="taskById.approval_status" required>
                <option value="Approved">Approve</option>
                <option value="Rejected">Reject</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-size">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <div style="text-align:center">
      <!--Table to display data from local api-->
      <table class="table table-dark table-bordered">
          <thead>
            <tr>
              <td scope="row">Sl No.</td>
              <th scope="col">Task ID</th>
              <th scope="col">Task Name</th>
              <th scope="col">Task Status</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Created Date</th>
              <!--th scope="col">Approval Status</th-->
              <th scope="col">Assigned Manager</th>
              <th scope="col">Task Description</th>
              <th scope="col">Approve or Reject</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of this.comp.taskDetails | pipe: searchTerm; index as i">
                <td scope="row">{{ i + 1 }}</td> 
                 <td>{{item.task_id}}</td>
                 <td>{{item.task_name}}</td>
                 <td>{{item.task_status}}</td>
                 <td>{{item.start_time}}</td>
                 <td>{{item.end_time}}</td>
                 <td>{{item.created_date}}</td>
                 <!--td>{{task.approval_status}}</td-->
                 <td>{{item.assigned_manager}}</td>
                 <td>{{item.task_description}}</td>
                 <td style="text-align: center;"><button type="button" class="btn btn-success" (click)="action(item.task_id)">Action</button></td>
              </tr>
          </tbody>
        </table>
    </div></div>
  </div>
        </div></div></div>
</body>
</html>